<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://libs.baidu.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!--<script src="http://libs.baidu.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <style>
        body {
            position: relative;
        }
        ul.nav-pills {
            top: 20px;
            position: fixed;
        }
        div.col-sm-9 div {
            height: 250px;
            font-size: 28px;
        }
        #section1 {color: #fff; background-color: #1E88E5;}
        #section2 {color: #fff; background-color: #673ab7;}
        #section3 {color: #fff; background-color: #ff9800;}
        #section41 {color: #fff; background-color: #00bcd4;}
        #section42 {color: #fff; background-color: #009688;}

        @media screen and (max-width: 810px) {
            #section1, #section2, #section3, #section41, #section42  {
                margin-left: 150px;
            }
        }
        .markdown-toc{
            position: fixed;
            top: 0;
        }
    </style>
</head>
<body>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<nav class="col-sm-3" id="myScrollspy">-->
            <!--<ul class="nav nav-pills nav-stacked">-->
                <!--<li class="active"><a href="#section1">Section 1</a></li>-->
                <!--<li><a href="#section2">Section 2</a></li>-->
                <!--<li><a href="#section3">Section 3</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#section41">Section 4-1</a></li>-->
                        <!--<li><a href="#section42">Section 4-2</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
        <!--<div class="col-sm-9">-->
            <!--<div id="section1">-->
                <!--<h1>Section 1</h1>-->
                <!--<p>Try to scroll this section and look at the navigation list while scrolling!</p>-->
            <!--</div>-->
            <!--<div id="section2">-->
                <!--<h1>Section 2</h1>-->
                <!--<p>Try to scroll this section and look at the navigation list while scrolling!</p>-->
            <!--</div>-->
            <!--<div id="section3">-->
                <!--<h1>Section 3</h1>-->
                <!--<p>Try to scroll this section and look at the navigation list while scrolling!</p>-->
            <!--</div>-->
            <!--<div id="section41">-->
                <!--<h1>Section 4-1</h1>-->
                <!--<p>Try to scroll this section and look at the navigation list while scrolling!</p>-->
            <!--</div>-->
            <!--<div id="section42">-->
                <!--<h1>Section 4-2</h1>-->
                <!--<p>Try to scroll this section and look at the navigation list while scrolling!</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->






<section class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="markdown-view" class="markdown-body editormd-html-preview">
                <h1 style="height: 200px;"><a id="markdown-1">markdown-1</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-2">markdown-2</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-3">markdown-3</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-4">markdown-4</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-5">markdown-5</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-6">markdown-6</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-7">markdown-7</a> </h1>
                <h1 style="height: 200px;"><a id="markdown-8">markdown-8</a> </h1>
            </div>
        </div>
        <div class="col-sm-3">
            <div previewcontainer="false">
                <nav id="markdown-toc" class="markdown-toc editormd-markdown-toc">
                    <ul class="nav markdown-toc-list">
                        <li><a class="toc-level-1" href="#Editor.md" level="1">Editor.md</a>
                            <ul><li><a class="toc-level-3" href="#markdown-1" level="3">markdown-1</a></li>
                                <li><a class="toc-level-3" href="#markdown-2" level="3">markdown-2</a></li>
                                <li><a class="toc-level-3" href="#markdown-3" level="3">markdown-3</a></li>
                                <li><a class="toc-level-3" href="#markdown-4" level="3">markdown-4</a>
                                <ul>
                                    <li><a class="toc-level-4" href="#markdown-5" level="4">markdown-5</a></li>
                                    <li><a class="toc-level-4" href="#markdown-6" level="4">markdown-6</a></li>
                                    <li><a class="toc-level-4" href="#markdown-7" level="4">markdown-7</a></li>
                                    <li><a class="toc-level-4" href="#markdown-8" level="4">markdown-8</a></li>
                                </ul></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<script>
    +function ($) {
        'use strict';

        // SCROLLSPY CLASS DEFINITION
        // ==========================

        function ScrollSpy(element, options) {
            this.$body          = $(document.body)
            this.$scrollElement = $(element).is(document.body) ? $(window) : $(element)
            this.options        = $.extend({}, ScrollSpy.DEFAULTS, options)
            this.selector       = (this.options.target || '') + ' .nav li > a'
            this.offsets        = []
            this.targets        = []
            this.activeTarget   = null
            this.scrollHeight   = 0

            this.$scrollElement.on('scroll.bs.scrollspy', $.proxy(this.process, this))
            this.refresh()
            this.process()
        }

        ScrollSpy.VERSION  = '3.3.5'

        ScrollSpy.DEFAULTS = {
            offset: 10
        }

        ScrollSpy.prototype.getScrollHeight = function () {
            return this.$scrollElement[0].scrollHeight || Math.max(this.$body[0].scrollHeight, document.documentElement.scrollHeight)
        }

        ScrollSpy.prototype.refresh = function () {
            var that          = this
            var offsetMethod  = 'offset'
            var offsetBase    = 0

            this.offsets      = []
            this.targets      = []
            this.scrollHeight = this.getScrollHeight()

            if (!$.isWindow(this.$scrollElement[0])) {
                offsetMethod = 'position'
                offsetBase   = this.$scrollElement.scrollTop()
            }

            this.$body
                    .find(this.selector)
                    .map(function () {
                        var $el   = $(this)
                        var href  = $el.data('target') || $el.attr('href')
                        var $href = /^#./.test(href) && $(href)

                        return ($href
                                && $href.length
                                && $href.is(':visible')
                                && [[$href[offsetMethod]().top + offsetBase, href]]) || null
                    })
                    .sort(function (a, b) { return a[0] - b[0] })
                    .each(function () {
                        that.offsets.push(this[0])
                        that.targets.push(this[1])
                    });


        }

        ScrollSpy.prototype.process = function () {
            var scrollTop    = this.$scrollElement.scrollTop() + this.options.offset
            var scrollHeight = this.getScrollHeight()
            var maxScroll    = this.options.offset + scrollHeight - this.$scrollElement.height()
            var offsets      = this.offsets
            var targets      = this.targets
            var activeTarget = this.activeTarget
            var i

            if (this.scrollHeight != scrollHeight) {
                this.refresh()
            }

            if (scrollTop >= maxScroll) {
                return activeTarget != (i = targets[targets.length - 1]) && this.activate(i)
            }

            if (activeTarget && scrollTop < offsets[0]) {
                this.activeTarget = null
                return this.clear()
            }

            for (i = offsets.length; i--;) {
                activeTarget != targets[i]
                && scrollTop >= offsets[i]
                && (offsets[i + 1] === undefined || scrollTop < offsets[i + 1])
                && this.activate(targets[i])
            }
        }

        ScrollSpy.prototype.activate = function (target) {
            this.activeTarget = target

            this.clear()

            var selector = this.selector +
                    '[data-target="' + target + '"],' +
                    this.selector + '[href="' + target + '"]'

            var active = $(selector)
                    .parents('li')
                    .addClass('active')

            if (active.parent('.dropdown-menu').length) {
                active = active
                        .closest('li.dropdown')
                        .addClass('active')
            }

            active.trigger('activate.bs.scrollspy')
        }

        ScrollSpy.prototype.clear = function () {
            $(this.selector)
                    .parentsUntil(this.options.target, '.active')
                    .removeClass('active')
        }


        // SCROLLSPY PLUGIN DEFINITION
        // ===========================

        function Plugin(option) {
            return this.each(function () {
                var $this   = $(this)
                var data    = $this.data('bs.scrollspy')
                var options = typeof option == 'object' && option

                if (!data) $this.data('bs.scrollspy', (data = new ScrollSpy(this, options)))
                if (typeof option == 'string') data[option]()
            })
        }

        var old = $.fn.scrollspy

        $.fn.scrollspy             = Plugin
        $.fn.scrollspy.Constructor = ScrollSpy


        // SCROLLSPY NO CONFLICT
        // =====================

        $.fn.scrollspy.noConflict = function () {
            $.fn.scrollspy = old
            return this
        }


        // SCROLLSPY DATA-API
        // ==================

        $(window).on('load.bs.scrollspy.data-api', function () {
            $('[data-spy="scroll"]').each(function () {
                var $spy = $(this)
                Plugin.call($spy, $spy.data())
            })
        })

    }(jQuery);


    $(function(){
        $('body').scrollspy({ target: '#markdown-toc' });
//        $('body').scrollspy({ target: '#myScrollspy' });
    });

</script>
</body>
</html>
