@charset "UTF-8";
body {
  padding-top: 70px;
  background-color: #eef0f2;
}

a:hover {
  text-decoration: none;
}

::selection {
  background: #293038;
  color: #fff;
}

/*侧边栏控制显示隐藏的按钮*/
.sidebar-toggle {
  position: fixed;
  z-index: 24;
  bottom: 40px;
  right: 50px;
  color: #293038;
}

/*返回顶层按钮*/
.back-to-top {
  position: fixed;
  z-index: 24;
  bottom: 20px;
  right: 50px;
  color: #293038;
}

/*------------------------------------*\
    导航栏搜索框
\*------------------------------------*/
#navbar-searchicon {
  position: absolute;
  z-index: 3;
  top: 9px;
  left: 5px;
  font-size: 1.6rem;
  color: #9d9d9d;
}
#navbar-searchicon:hover {
  color: #15BDEA;
  cursor: pointer;
}

#navbar-search {
  padding: 0 5px 0 26px;
  width: 16px;
  background-color: #222222;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition-duration: 400ms;
  transition-property: width,background;
}

.navbar-search {
  width: 200px !important;
  background-color: white !important;
}

/*------------------------------------*\
    文章样式
\*------------------------------------*/
.bulletin {
  background-color: #fff;
  padding: 1.5rem;
  border-left: solid 0.8rem #dadfe3;
  border-radius: 4px;
  margin-bottom: 6px;
  transition: border .2s ease-in;
}
.bulletin:hover {
  border-color: #E77E23;
}
.bulletin .bulletin-body .description {
  text-align: justify;
}

/*------------------------------------*\
    分页样式
\*------------------------------------*/
.paging {
  text-align: center;
  background-color: white;
  border-radius: 4px;
  font-size: 1.8rem;
}
.paging a, .paging .paging span.page-number {
  display: inline-block;
  padding: 1rem 2rem;
}
.paging a:hover {
  border-radius: .5rem;
  background-color: #dadfe3;
  color: #E77E23;
}

/*------------------------------------*\

\*------------------------------------*/
.copyright, .record {
  display: inline-block;
  margin-right: 10px;
}

.copyright::after {
  content: "|";
  padding-left: 10px;
}

/*------------------------------------*\
    侧边栏
\*------------------------------------*/
aside.jqsb-sidebar {
  width: 280px;
  top: 51px;
}
aside.jqsb-sidebar .sidebar-inner {
  text-align: center;
  padding: 2rem 1rem;
  color: #F7F8F9;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .author img {
  background-color: #293038;
  border-color: #293038;
  max-width: 100px;
  padding: 2px;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .author .author-name {
  margin-top: 0;
  color: #F7F8F9;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .description {
  font-size: 1.3rem;
  color: #cbd2d8;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .state .state-item {
  display: inline-block;
  padding: 0 15px;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .state .state-item:first-child {
  border-right: 1px solid #293038;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .state .state-item span {
  display: block;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .state .state-item .state-item-count {
  font-size: 1.8rem;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .state .state-item .state-item-name {
  font-size: 1.3rem;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .rss {
  margin-top: 2rem;
}
aside.jqsb-sidebar .sidebar-inner .site-overview .contact {
  margin-top: 2rem;
}
