@charset "UTF-8";
/*---------------------------*\
  metisMenu插件所需样式
\*---------------------------*/
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

*[dir="rtl"] .metismenu .arrow {
  float: left;
}

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

.metismenu .fa.arrow:before {
  content: "\f104";
}

.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

.metismenu .ion.arrow:before {
  content: "";
}

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}

.metismenu .plus-times {
  float: right;
}

*[dir="rtl"] .metismenu .plus-times {
  float: left;
}

.metismenu .fa.plus-times:before {
  content: "\f067";
}

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metismenu .plus-minus {
  float: right;
}

*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}

.metismenu .fa.plus-minus:before {
  content: "\f067";
}

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}

.metismenu .collapse {
  display: none;
}

.metismenu .collapse.in {
  display: block;
}

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

/*------------------------------------*\
    动画样式 &animate
\*------------------------------------*/
@keyframes fadeInLeft20 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft20 {
  -webkit-animation-name: fadeInLeft20;
  animation-name: fadeInLeft20;
}

@keyframes fadeInLeft30 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft30 {
  -webkit-animation-name: fadeInLeft30;
  animation-name: fadeInLeft30;
}

/*------------------------------------*\
    公用样式() &public
\*------------------------------------*/
.block {
  display: block;
}

.inline {
  display: inline;
}

a.cancelDefault:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/*------------------------------------*\
    基本样式(此网站基调) &website
\*------------------------------------*/
/*------------------------------------*\
    侧边栏样式 &sidebar
\*------------------------------------*/
.metismenu, .item-list, .sm-item-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.metismenu > li > a, .item-list > li > a, .sm-item-list > li > a {
  position: relative;
  display: block;
  padding: 15px;
}
.metismenu > li > a:focus, .item-list > li > a:focus, .sm-item-list > li > a:focus {
  color: #fff;
  background-color: #293846;
  text-decoration: none;
}
.metismenu > li > a:hover, .item-list > li > a:hover, .sm-item-list > li > a:hover {
  color: #fff;
  background-color: #293846;
  text-decoration: none;
}

.jqsb-left {
  background-color: #2f4050;
}
.jqsb-left-bg {
  width: 180px;
}
.metismenu a {
  color: #a7b1c2;
  font-size: 13px;
  font-weight: 600;
}
.item-list {
  text-indent: 30px;
}
.item-link {
  padding: 10px 25px;
}
.item-link:focus {
  background-color: #293846;
}
.item-link:hover {
  background-color: #293846;
}
.item-link > i {
  font-size: 10px;
  margin-right: 10px;
}
.user-info {
  background: url("http://www.isgavin.me/img/header-bg-img.png") no-repeat;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.user-portrait {
  display: block;
  max-width: 40%;
  height: auto;
  margin-bottom: 8px;
}
.user-info-dropdown {
  position: relative;
}
.jqsb-left-sm {
  width: 70px;
}
.sm-item-list > li > a {
  color: #a7b1c2;
  font-size: 16px;
  padding: 12px 18px;
  text-align: center;
}
.sm-item-list .personal-icon > a {
  background-color: #24313d;
  line-height: 50px;
  padding: 0;
  vertical-align: middle;
}
.sm-item-list .personal-icon > a > img {
  width: 30px;
}
.sidebar-tooltip .tooltip-inner {
  max-width: 200px;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  background-color: #293846;
  border-radius: 0;
  line-height: 46px;
  font-weight: 600;
}
.sidebar-tooltip .tooltip.top .tooltip-arrow {
  border-top-color: #293846;
}
.sidebar-tooltip .tooltip.top-left .tooltip-arrow {
  border-top-color: #293846;
}
.sidebar-tooltip .tooltip.top-right .tooltip-arrow {
  border-top-color: #293846;
}
.sidebar-tooltip .tooltip.right .tooltip-arrow {
  border-right-color: #293846;
}
.sidebar-tooltip .tooltip.left .tooltip-arrow {
  border-left-color: #293846;
}
.sidebar-tooltip .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #293846;
}
.sidebar-tooltip .tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #293846;
}
.sidebar-tooltip .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #293846;
}

/*# sourceMappingURL=backstage.main.css.map */
