html,body{
    height:100%;
    overflow: hidden;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #f7f8f9;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
.index-main:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.index-main{
    height:100%;
    display: block;
    text-align: center;
}
.index-main-body{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
.index-main-body > .header p {
    font-weight: 600;
    font-size: 36px;
    color: #0185DD;
}

.form-control-blog{
    display: block;
    width: 100%;
    height: 4rem;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#sign-in-form input,#sign-up-form input{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#sign-in-form input:first-child,#sign-up-form input:first-child{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#sign-in-form input:not(:first-child),#sign-up-form input:not(:first-child){
    border-top: none;
    border-bottom: 1px solid #ccc;
}
#sign-in-form input:focus,#sign-up-form input:focus{
    outline: 0;
}
#sign-in-form>button,#sign-up-form>button{
    margin-top: 2rem;
    border: none;
}
.index-main-body>.body li{
    float: none;
    display: inline-block;
}
.index-main-body>.body li>a{
    background-color: transparent;
    border: none;
}
.index-main-body>.body>ul{
    margin-bottom: 1.5rem;
    border: none;
}