/*---------------------------*\
  metisMenu插件所需样式
\*---------------------------*/
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float: left;
}
.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}
.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}
.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
*[dir="rtl"] .metismenu .plus-times {
  float: left;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}
.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}


/*------------------------------------*\
    动画样式 &animate
\*------------------------------------*/

// 从左侧淡入 参数是百分比
@mixin fadeInleft($percent){
  $name : $percent;
  $percent : -$percent / 100;
  @keyframes fadeInLeft#{$name} {
    from {
      opacity: 0;
      -webkit-transform: translate3d(percentage($percent), 0, 0);
      transform: translate3d(percentage($percent), 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .fadeInLeft#{$name} {
    -webkit-animation-name: fadeInLeft#{$name};
    animation-name: fadeInLeft#{$name};
  }
}

@include fadeInleft(20);
@include fadeInleft(30);


/*------------------------------------*\
    公用样式() &public
\*------------------------------------*/
.block{
  display: block;
}
.inline{
  display: inline;
}
a.cancelDefault:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/*------------------------------------*\
    基本样式(此网站基调) &website
\*------------------------------------*/
$base-setting: (

);


/*------------------------------------*\
    侧边栏样式 &sidebar
\*------------------------------------*/
// 侧边栏基础设置
$sidebarSetting: (
        backgroundColor: #2f4050, // 侧边栏背景色
        width: 220px, // 侧边栏宽度
        size: (10px,12px,13px,14px,16px,18px), // 字体尺寸
        color: #a7b1c2 // 字体颜色
);
// 侧边栏a标签
$sidebar-a: (
        hoverColor:#fff,// 悬停时的字体颜色
        focusColor:#fff,// 获得焦点时的字体颜色
        hoverBackgroundColor:#293846, // 悬停时的背景色
        focusBackgroundColor:#293846 // 获得焦点时的背景色
);

%base-ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  >li{
    >a{
      position: relative;
      display: block;
      padding: 15px 15px;
    }
    >a:focus{
      color:map_get($sidebar-a,focusColor);
      background-color: map_get($sidebar-a,focusBackgroundColor);
      text-decoration: none;
    }
    >a:hover{
      color:map_get($sidebar-a,hoverColor);
      background-color: map_get($sidebar-a,hoverBackgroundColor);
      text-decoration: none;
    }
  }
}

// 左侧侧边栏样式
.jqsb-left{
  background-color: map_get($sidebarSetting,backgroundColor);

  // jqsb-left-bg样式
  @at-root .jqsb-left-bg{
    width: map_get($sidebarSetting,width);

    @at-root .metismenu {
      @extend %base-ul;
      a{
        color: map_get($sidebarSetting,color);
        font-size: nth(map_get($sidebarSetting,size),3);
        font-weight: 700;
      }
    }

    @at-root .item-list{
      @extend %base-ul;
    }

    @at-root .item-link{
      padding: 10px 25px;
      &:focus{
        background-color: map_get($sidebar-a,focusBackgroundColor);
      }
      &:hover{
        background-color: map_get($sidebar-a,hoverBackgroundColor);
      }
      >i{
        font-size: nth(map_get($sidebarSetting,size),1);
        margin-right: nth(map_get($sidebarSetting,size),1) * 0.5;
      }
    }

    @at-root .user-portrait{
      display: block;
      max-width: 70px;
      height: auto;
      margin-top: 20px;
      margin-left: 25px;
    }

    @at-root .user-info-dropdown{
      margin-left: 25px;
      position: relative;
    }

    @at-root .user-name{
      margin-top: 10px;
      margin-bottom: 5px;
    }

    @at-root .user-role{
      margin-bottom: 10px;
    }
  }

  // jqsb-left-sm样式
  @at-root .jqsb-left-sm{

  }

}








