$base_color: #F7F8F9;
$content_color: #0185DD;

html,body{
  height:100%;
  overflow: hidden;
  font-weight: 500;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: $base_color;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.index-main{
  height:100%;
  display: block;
  text-align: center;

  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.index-main-body {
  display: inline-block;
  width: 300px;
  vertical-align: middle;

  > .header p {
    font-weight: 600;
    font-size: 3rem;
    color: $content_color;
  }

  .tab-select{
    font-size: 1.7rem;
    > a{
      color: darken($base_color,40%);
      line-height: 3rem;
      width: 4rem;
      display: inline-block;
      text-decoration: none;

      &:hover,&:focus{
        color: $content_color;
        text-decoration: none;
      }
    }
  }

  .tab-content{
    margin-top: 1rem;
    .group-inputs{
      border: 1px solid darken($base_color,13%);
      border-radius: 3px;
      padding: 3px 0;
      background-color: #fff;
    }
    .form-control-blog{
      display: block;
      border: none;
      width: 100%;
      outline: none;
      padding: 1rem 0.8rem;
      font-size: 1.4rem;
      line-height: 1.42857143;
      color: darken($base_color,60%);
    }
    .form-control-blog + .form-control-blog{
      border-top:1px solid darken($base_color,5%);
    }

    .wrapper-button{
      margin-top: 2rem;
    }

    .remember-wrapper{
      margin-top: 2rem;
      text-align: left;
      color: darken($base_color,50%);
      > .remember-me{
        margin-bottom: 0;
        input[type='checkbox']{
          vertical-align: 1px;
          margin-right: 0.5rem;
        }
      }

      > a{
        color: darken($base_color,50%);
        &:hover,&:focus{
          color: darken($base_color,60%);
          text-decoration: none;
        }
      }

    }
  }

  .tab-footer{
    .other-sign-wrapper{
      margin-top: 1.5rem;
      text-align: left;
      color: darken($base_color,40%);
      .sns-login{
        display: inline-block;
        > a{
          margin-left: 1.3rem;
          color: darken($base_color,40%);
          &:hover{
            color: darken($base_color,60%);
          }
        }

      }
    }
  }

}
input:-webkit-autofill{
  background-color: inherit;
  color: darken($base_color,60%);
}

